[Unit]
Description=Mount unit for core18, revision 2679
Before=snapd.service
After=zfs-mount.service

[Mount]
What=/var/lib/snapd/snaps/core18_2679.snap
Where=/var/lib/snapd/snap/core18/2679
Type=squashfs
Options=nodev,context=system_u:object_r:snappy_snap_t:s0,ro,x-gdu.hide,x-gvfs-hide
LazyUnmount=yes

[Install]
WantedBy=default.target multi-user.target
