[Unit]
Description=Mount unit for steam, revision 83
Before=snapd.service
After=zfs-mount.service

[Mount]
What=/var/lib/snapd/snaps/steam_83.snap
Where=/var/lib/snapd/snap/steam/83
Type=squashfs
Options=nodev,context=system_u:object_r:snappy_snap_t:s0,ro,x-gdu.hide,x-gvfs-hide
LazyUnmount=yes

[Install]
WantedBy=default.target multi-user.target
